.theme-page {
  background-color: black;
  margin-top: 2em;
}

.menu {
  margin-top: 10em;
}
.title-custom {
  font: bold 200px Impact, sans-serif bold;
  color: aliceblue;
  font-size: xx-large;
  text-align: center;
  letter-spacing: 16px;
  border: aliceblue 3px solid;
  border-radius: 30px;
}
.btn-custom-simple {
  height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 500px;
}

.btn-start-game {
  height: 100px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 500px;
}

.btn-text-custom {
  font: bold 1em Impact, sans-serif;
  text-align: center;
  letter-spacing: 4px;
}

.btn-text-start-game {
  font: bold 2em Impact, sans-serif;
  text-align: center;
  letter-spacing: 4px;
}

.btn-text-custom {
  font: bold 1em Impact, sans-serif;
  text-align: center;
  letter-spacing: 4px;
}

.img-logo-index {
  width: 700px;
  height: 700px;
}
